.page
{
background-color: silver;
width: 750px;
height: 1000px;
border: 5px solid #F90C8A;
border-radius: 5px ;
font-family: verdana;
font-size: 12px;
margin: auto;
padding: 11px;
}

h2
{
color: #F90C8A;
font-family: Arial;
font-size: 20px;
margin-left: 5px;
}

.entete
{
border: 5px solid #440869;
border-radius: 10px;
width: 700px;
height: 250px;
margin-top: 20px;
margin-left: 20px;

}

.infos
{
border: 3px solid black;
text-align: center;
font-size: 13px;
font-family: Courier;
border-radius: 5px;
width: 400px;
height: 200px;
margin-top: 20px;
margin-left: 15px;
}

.photos
{
border: 3px solid black;
border-radius: 5px;
width: 200px;
height: 200px;
float: right;
margin: auto;
margin-top: -205px;
margin-right: 15px;

}

.section
{
border: 5px solid #440869;
text-align: left;
border-radius: 10px;
width: 700px;
height: 200px;
margin: auto;
margin-top: 30px;
margin-bottom: 100px;
margin-left: 1px;

}

.section1
{
border: 5px solid #440869;
border-radius: 10px;
width: 702px;
height: 200px;
margin: auto;
margin-top: 180px;
margin-bottom: 200px;
margin-left: -5px;
}


.année1
{
border: 3px solid black;
text-align: center;
border-radius: 5px;
width: 100px;
height: 100px;
margin-top: 0px;
margin-left: 15px;
float: left;
}

.section5
{
border: 3px solid black;
text-align: center;
border-radius: 5px;
width: 500px;
height: 120px;
float: right;
margin-bottom: 100px;
margin-left: 10px;
margin-right: 10px;
}


.stage
{
border: 3px solid black;
text-align: center;
border-radius: 5px;
width: 500px;
height: 100px;
float: right;
margin-top: 0px;
margin-left: 15px;
margin-right: 10px;
}

.langue
{
border: 5px solid #440869;
border-radius: 10px;
width: 703px;
height: 220px;
margin: auto;
margin-top: -180px;
margin-bottom: 200px;
margin-left: -5px;
}

.az
{
border: 3px solid black;
text-align: center;
border-radius: 5px;
width: 100px;
height:110px;
float: left;
margin-bottom: 100px;
margin-left: 15px;
margin-right: 10px;
}

